= simple_form_for([:manage, @merchant], html: { id: 'merchant-form', class: 'form form--md' }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :email
    / lets to create password for the demonstration purpose but at least not edit
    - unless @merchant.persisted?
      = f.input :password
    = f.input :status, as: :radio_buttons, collection: Merchant.statuses.keys
    = f.input :description

  .form-actions
    = f.button :submit
