tr
  th.merchant-id-js scope="row" = merchant.id
  td = merchant.status
  td = merchant.type
  td = merchant.name
  td = merchant.description
  td = merchant.email
  td = merchant.total_transaction_sum
  td
    = link_to 'Show', manage_merchant_path(merchant), class: 'table__link'
    = link_to 'Edit', edit_manage_merchant_path(merchant), class: 'table__link'
    = link_to 'Destroy', manage_merchant_path(merchant, format: :json), class: 'table__link merchant-destroy-link-js', method: :delete, remote: true
