h1 Merchants List

table.table
  thead.thead-dark
    = render partial: 'merchant_table_head'
  tbody
    - @merchants.each do |merchant|
      = render partial: 'merchant_table_row', locals: { merchant: merchant }

= link_to 'New Merchant', new_manage_merchant_path
