h1 Merchant Details

.block-merchant
  table.table
    thead.thead-dark
      = render partial: 'merchant_table_head'
    tbody
      = render partial: 'merchant_table_row', locals: { merchant: @merchant }

= link_to 'Go to Merchants List', manage_merchants_path
