// Cross browser support
@mixin shadow($str) {
  -moz-box-shadow:    $str;
  -webkit-box-shadow: $str;
  box-shadow:         $str;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}

@mixin opacity($val) {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$val * 100})";

  /* IE 5-7 */
  filter: alpha(opacity=$val * 100);

  /* Netscape */
  -moz-opacity: $val;

  /* Safari 1.x */
  -khtml-opacity: $val;

  /* Good browsers */
  opacity: $val;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition:    $args;
  -ms-transition:     $args;
  -o-transition:      $args;
  transition:         $args;
}

// Responsive
// Global split
$small: 320px;
$tablet: 768px;
$medium: 1024px;

@mixin respond-to($media) {
  // 0 - 320
  @if $media == small-screens {
    @media only screen and (max-width: $small) { @content; }
  }
    // 321 - 1024
  @else if $media == medium-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $medium) { @content; }
  }
    // 1025 - any
  @else if $media == large-screens {
    @media only screen and (min-width: $medium + 1) { @content; }
  }
}

// Additional break points
$mobile_s: 320px;
$mobile_m: 375px;
$mobile_l: 425px;

@mixin respond-to-max($max) {
  // 0 - max
  @media only screen and (max-width: $max) {
    @content;
  }
}

@mixin respond-to-min($min) {
  // min - ...
  @media only screen and (min-width: $min) {
    @content;
  }
}
