// Fonts
$default-font-color-white: #ffffffb0;
$default-placeholder-white: #ffffff94;

// Shadows
$grey-shadow: rgba(0,0,0,0.16);

// Borders
$default-border-color: #e8e8e8;
$grey-border-color: #d8d6d6;

// Forms
$default-input-color: #495057;
$default-input-border-color: #ced4da;

