@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  * {
    letter-spacing: 1px;
  }
  background: #F9F9F9;
}

body {
  font-family: 'Lato', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

#page {
  min-height: 100vh;
  border: 1px solid $default-border-color;
}

main {
  width: 100%;
  background: white;
  padding: 60px 30px;
}

footer {
  border-top: 1px solid $default-border-color;
  padding: 1rem;
}

h1 {
  color: #969696;
}

h4 {
  font-weight: bold;
  margin-bottom: 35px;
}

