tr
  th.transaction-id-js scope="row" = transaction.id
  td = transaction.status
  td = transaction.type
  td = transaction.amount
  td = transaction.customer_email
  td = default_time_format transaction.created_at
  td = transaction.referenced_id
  td.transaction-show-link-js = link_to 'Show', manage_transaction_path(transaction), class: '', id: transaction.id
