h1 Transactions List

table.table
  thead.thead-dark
    = render partial: 'transaction_table_head'
  tbody
    - @transactions.each do |transaction|
      = render partial: 'transaction_table_row', locals: { transaction: transaction }
