h1 Transaction Details
.block-transaction
  table.table
    thead.thead-dark
      = render partial: 'transaction_table_head'
    tbody
      = render partial: 'transaction_table_row', locals: { transaction: @transaction }

hr

h1 Merchant Details
.block-merchant
  table.table
    thead.thead-dark
      = render partial: 'manage/merchants/merchant_table_head'
    tbody
      = render partial: 'manage/merchants/merchant_table_row', locals: { merchant: @transaction.merchant }

= link_to 'Go to Transactions List', manage_transactions_path
