doctype html
html
  head
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title Payment System
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  body
    #page.flex-block
      header
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          a.navbar-brand href="/" Payment System
          button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              - if admin_signed_in?
                li.nav-item class="#{active_page_link_class(path: manage_merchants_path)}"
                  = link_to 'Merchants', manage_merchants_path, class: 'nav-link'
                li.nav-item class="#{active_page_link_class(path: manage_transactions_path, root: true)}"
                  = link_to 'Transactions', manage_transactions_path, class: 'nav-link'
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" Admin
                .dropdown-menu aria-labelledby="navbarDropdown"
                  - if admin_signed_in?
                    = link_to 'Log Out', destroy_admin_session_path, remote: true, method: :delete, id: 'logout-link-js', class: 'dropdown-item'
                  - else
                    = link_to 'Log In', new_admin_session_path, class: 'dropdown-item'

      main.flex-block__stretchable
        .container
          .row
            .col-xl
              = yield
      footer
        p Payment System
